<%- include('../layout/header')  %> 

         <main>
             <div class="form-div">
              <form action="/searches" method="POST">
                <fieldset>
                  <label><h2>Search by Title or Author</h2></label>
                  <input class="user-input" name="Name" type="text" placeholder="Enter a title or author">
                  <div class="radio">
                    <label class="radio-label">Title</label>
                    <input type="radio" name="cat" value="intitle" class="radio-label">
                  </div>
                  <div class="radio">
                    <label class="radio-label">Author</label>
                    <input type="radio" name="cat" value="inauthor" class="radio-label">
                  </div>
                  <input class="button" type="submit">
                </fieldset>
              </form>
            </div>
          </main>
</body>
</html>