header {
  background-color: #c7ffd8;
  color: rgb(224, 224, 224);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 70px;
  box-shadow: 0 2.8px 2.2px rgb(206, 116, 116), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);

}

nav{
  display: flex;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color:#161d6f;
}

nav > h3 > a {
  display: inline;
  justify-content: space-between;
  margin: 5px 50px;
  color:#161d6f;

}

nav > h3 > a:hover {
  display: inline;
  justify-content: space-between;
  margin: 5px 50px;
  text-decoration: none;
  color:#161d6f;
  background-color: rgb(96, 119, 119);
}

h1 {
  margin-top: 15px;
  font-size: 30px;
  color: #161d6f;

}

h2 {
  margin: 10px 0;
  color: #161d6f;
  font-size: 30px;
  text-align: center;
}

main {
  width: 400px;
  align-items: center;
  justify-content: center;

}

.ssaa{
  text-align: center;
}

.form-div{
  background-color: #98ded9;

}